<div style="text-align: center">
  <h1>TaDa! Welcome to {{ title }}!!</h1>

  <form [formGroup]="questionsForm">
    <select formControlName="name">
      <option disabled>What would you like to know today?</option>
      <option
        *ngFor="let question of questions"
        [ngValue]="question.questionName"
      >
        {{ question.questionName }}
      </option>
    </select>
    <button (click)="onSubmit()">Submit</button>
    <label for="repeatSelect"> Repeat select: </label>
    <textarea
      #txtArea
      ng-show="showTextArea"
      placeholder="Analysis Result"
    ></textarea>
  </form>
</div>
